<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<app-nav></app-nav>

<div id="wrapper">       
	<!-- <app-sidenav></app-sidenav> 	 -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                <span class="hamb-top"></span>
    			<span class="hamb-middle"></span>
				<span class="hamb-bottom"></span>
            </button>
            <div  class="col-md-12 " >
            
              <div class="login-form">
                <form  name="updateDoctorForm"  #updateDoctorForm="ngForm"  (ngSubmit)="updateDoctor(updateDoctorForm.value)"  >
                    
                <h2 class="text-center">Edit Doctor</h2> 
              
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="name">Role</label>
                        <select id="role" name="role" class="form-control" required [(ngModel)]="updform.role" #role="ngModel"  >
                            <option value="">Select User Role</option>
                              <option *ngFor="let r of roles" [value]="r">{{r}}</option>
                        </select>
                            <div *ngIf="role.errors && role.touched" class="alert alert-danger" > 
                              <div *ngIf="role.errors.required">Role is required.</div>
                            </div>    
            
                    </div>

                    <div class="form-group col-md-4" *ngIf="updform.role === 'DOCTOR'" >
                      <label for="salutation">Salutation</label>
                      <select id="salutation" name="salutation" class="form-control" required [(ngModel)]="updform.salutation" #salutation="ngModel"  >
                        <option value="">Select Salutation</option>
                          <option *ngFor="let salutation of this.salutationList" [value]="salutation['key']">{{salutation['value']}}</option>
                    </select>
      
                    <div *ngIf="salutation.errors && salutation.touched" class="alert alert-danger">
                      <div *ngIf="salutation.errors.required">Salutation is required.</div>
                    </div> 
      
                    </div> 

                        <div class="form-group col-md-4"  >
                            <label for="name">Name Of Clinic/Doctor</label>
                            <input  id="name" name="name" class="form-control" required [(ngModel)]="updform.name" #name="ngModel" placeholder="Name Of Clinic/Doctor" >
                            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
                              <div *ngIf="name.errors.required">
                                Name is required.
                              </div>
                              </div>
                          </div>
                          
                   
                 
                  </div>

                  <div class="form-row" *ngIf="updform.role === 'DOCTOR'" >

      
                    <div class="form-group col-md-4">
                        
                    <label for="middlename">Middle Name</label>
                    <input  type="text" id="middlename" name="middlename" class="form-control" required [(ngModel)]="updform.middlename" #middlename="ngModel" placeholder="Middle Name" >
                    <div *ngIf="middlename.invalid && (middlename.dirty || middlename.touched)" class="alert alert-danger">
                    <div *ngIf="middlename.errors.required">
                    Middle Name is required.
                    </div>
                    </div>     
            
                    </div>
                    <div class="form-group col-md-4"  >
                      <label for="lastname">Last Name</label>
                      <input  type="text" id="lastname" name="lastname" class="form-control" required [(ngModel)]="updform.lastname" #lastname="ngModel" placeholder="Last Name" >
                      <div *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)" class="alert alert-danger">
                      <div *ngIf="lastname.errors.required">
                      Last Name is required.
                      </div>
                      </div>       
                           
                    </div>
                          
                    <div class="form-group col-md-4"  >
                      <label for="branch">Branch</label>
                      <!-- <select id="branch" name="branch" class="form-control" required [(ngModel)]="updform.branch" #branch="ngModel"  >
                        <option value="">Select Branch</option>
                          <option *ngFor="let branch of branchList" [value]="branch['key']">{{branch['value']}}</option>
                    </select>
      
                    <div *ngIf="branch.errors && branch.touched" class="alert alert-danger">
                      <div *ngIf="branch.errors.required">Salutation is required.</div>
                    </div>  -->
      
                    <angular2-multiselect [data]="this.branchList" [(ngModel)]="selectedItems" [settings]="settings"  
                        (onSelect)="onItemSelect($event)"   name="bbranch" id="bbranch" class="Checkbox"
                        (onDeSelect)="OnItemDeSelect($event)" 
                        (onSelectAll)="onSelectAll($event)" 
                        (onDeSelectAll)="onDeSelectAll($event)"  >
                          <c-item>
                                  <ng-template let-item="item">
                                    <label style="color: #495057;min-width: 150px;font-weight: 500">{{item.itemName}}</label> 
                                  </ng-template>
                          </c-item>  
                        </angular2-multiselect> 

                    </div> 
                 
                  </div>
            
                  <div class="form-row" *ngIf="updform.role === 'DOCTOR'"  >

                    <div class="form-group col-md-4">
                      <label for="clinicId">Please Select Clinic</label>
                        <select id="clinicId" name="clinicId" class="form-control" required [(ngModel)]="updform.clinicId" #clinicId="ngModel" >
                          <option value="">Select Clinic</option>
                            <option *ngFor="let list of AllClinicList" [value]="list.id">{{list.name}}</option>
                          </select>
                          <div *ngIf="clinicId.errors && clinicId.touched" class="alert alert-danger">
                            <div *ngIf="clinicId.errors.required">Clinic is required.</div>
                          </div>    
          
                    </div>
      
                    <div class="form-group col-md-4">
                        <label for="qualification">Qualification Of Doctor</label>
                        <input type="text" id="qualification" name="qualification" class="form-control" required [(ngModel)]="updform.qualification" #qualification="ngModel" placeholder=" Qualification Of Doctor" >
                           
            
                    </div>
                        <div class="form-group col-md-4"  >
                            <label for="specialitydoctor">Speciality Of Doctor </label>
                            <input type="text" id="specialitydoctor" name="specialitydoctor" class="form-control" required [(ngModel)]="updform.specialitydoctor" #specialitydoctor="ngModel" placeholder="Speciality Of Doctor" >
                           
                          </div>
                          
                   
                 
                  </div>
      
                  <div class="form-row" *ngIf="updform.role === 'DOCTOR'"  >
      
                    <div class="form-group col-md-4">
                      <label for="degreedoctor">Degree of the Doctor</label>
                      <input type="text" id="degreedoctor" name="degreedoctor" class="form-control" required [(ngModel)]="updform.degreedoctor" #degreedoctor="ngModel" 
                      placeholder=" Degree Of the Doctor" >
                            
          
                    </div>
      
                    <div class="form-group col-md-4">
                        <label for="timingsdays">Timings days </label>
                        <input type="text" id="timingsdays" name="timingsdays" class="form-control" required [(ngModel)]="updform.timingsdays"
                         #timingsdays="ngModel" placeholder=" Timings days" >
                           
            
                    </div>
                        <div class="form-group col-md-4"  >
                            <label for="timingshours">Timings hours  </label>
                            <input type="text" id="timingshours" name="timingshours" class="form-control" required [(ngModel)]="updform.timingshours"
                             #timingshours="ngModel" placeholder="Timings hours" >
                           
                          </div>
                          
                   
                 
                  </div>
            
                  <div class="form-row">
                    <div class="form-group col-md-4">
                         <label for="email">Email Id</label> 
                        <input type="email" placeholder="Email Id" name="email" class="form-control" id="email" 
                                 required [(ngModel)]="updform.email" #email="ngModel" >
                        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                        <div *ngIf="email.errors.required">
                            Email is required.
                        </div>
                        </div>         
                    </div>
      
                    <div class="form-group col-md-4"  >
                      <label for="phonenumber">Phone Number</label> 
                      <input type="phonenumber" placeholder="Phone Number" name="phonenumber" class="form-control" id="phonenumber" 
                      required [(ngModel)]="updform.phonenumber" #phonenumber="ngModel" maxlength="10" oninput="this.value=this.value.replace(/[^0-9]/g,'');" >
                     
                    </div>
            
                    <div class="form-group col-md-4">
                        <label for="mobNo">Mobile Number</label> 
                       <input type="text" class="form-control" name="mobNo" id="mobNo" placeholder="Mobile Number" 
                       required [(ngModel)]="updform.mobNo" #mobNo="ngModel" maxlength="10"  oninput="this.value=this.value.replace(/[^0-9]/g,'');"   >
                       <div *ngIf="mobNo.invalid && (mobNo.dirty || mobNo.touched)" class="alert alert-danger">
                           <div *ngIf="mobNo.errors.required">
                             Mobile Number is required.
                           </div>
                           </div>
                   </div>
            
                  </div>                     
      
                  <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="username">User Name</label> 
                         <input type="text"  placeholder="Username" name="username" class="form-control" id="username"
                                required [(ngModel)]="updform.username" #username="ngModel" >
                        <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">
                        <div *ngIf="username.errors.required">
                          UserName is required.
                        </div>
                        </div>        
                    </div>
                    <div class="form-group col-md-4">
                        <label for="password">Password</label> 
                       <input type="password" placeholder="Password" name="password" class="form-control" id="password" 
                       required [(ngModel)]="updform.password" #password="ngModel" maxlength="15" >
                       <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
                        <div *ngIf="password.errors.required">
                          Password is required.
                        </div>
                        </div>
                    </div>
      
                    <div class="form-group col-md-4">
                      <label for="cpassword">Confirm Password</label> 
                     <input type="password" placeholder="Confirm Password" name="cpassword" class="form-control" id="cpassword" 
                     required [(ngModel)]="updform.password" #cpassword="ngModel" maxlength="15" >
                     <div *ngIf="cpassword.invalid && (cpassword.dirty || cpassword.touched)" class="alert alert-danger">
                      <div *ngIf="cpassword.errors.required">
                        Confirm Password is required.
                      </div>
                      </div>
                  </div>
      
                  </div>
                            
                   <div class="form-row">
      
                    <div class="form-group col-md-4">
                      <label for="country">Select Country</label> 
                     
                        <select id="country" name="country" class="form-control" required [(ngModel)]="updform.country" 
                        #country="ngModel"  (ngModelChange)="onCountrySelect(updform.country)" >
                          <option value="">Select Country</option>
                            <option *ngFor="let country of this.countryList" [value]="country['id']">{{country['itemName']}}</option>
                              </select>
                        <div *ngIf="country.errors && country.touched" class="alert alert-danger">
                          <div *ngIf="country.errors.required">Country is required.</div>
                        </div>    
                  </div>
                 
                        <div class="form-group col-md-4">
                            <label for="state">Select State</label> 
                                                     
                                  <select class="form-control" id="state" name="state" [(ngModel)]="updform.state" #state="ngModel">
                                    <option value="">Select State</option>
                                    <option *ngFor="let state of this.filteredCities"  [value]="state['key']">{{state['value']}}</option>
                                      </select>
                            <div *ngIf="state.errors && state.touched" class="alert alert-danger">
                            <div *ngIf="state.errors.required">State is required.</div>
                            </div>    
                        </div>
                        
                      
              <div class="form-group col-md-4"  >
                <label for="pincode">Pincode</label> 
                <input type="text" placeholder="Pincode" name="pincode" class="form-control" id="pincode" 
                required [(ngModel)]="updform.pincode" #pincode="ngModel" maxlength="6" >
               
              </div>
                        
                  </div> 
      
       
            <div class="form-group col-md-6" >
                      <label for="file">Hospital/Clinic Photo &nbsp; &nbsp;</label>
                      <input  id="profileImage" name="profileImage"  type="file"   (change)="onFileChange($event)">
                     
                  </div>
                
            <div class="form-row">
              <div class="form-group col-md-6">
                  <label for="address">Address</label> 
                  <textarea id="address" name="address"  class="form-control" placeholder="Address" 
                required [(ngModel)]="updform.address" #address="ngModel"  ></textarea>
                <div *ngIf="address.invalid && (address.dirty || address.touched)" class="alert alert-danger">
                    <div *ngIf="address.errors.required">
                      Address is required.
                    </div>
                    </div>   
              </div>
      
              <div class="form-group col-md-6">
                <label for="otherdetails">Other Details</label> 
                <textarea id="otherdetails" name="otherdetails"  class="form-control" placeholder="Other Details" 
              required [(ngModel)]="updform.otherdetails" #otherdetails="ngModel"  ></textarea>
             
            </div>
        
      
        </div> 

        <!-- <div class="form-row" >
          <div class="form-group col-md-6">
              <label for="googlemaplocation">Google Map Location </label> 
              <input type="text" placeholder="Google Map Location " name="googlemaplocation" class="form-control" id="googlemaplocation" 
              required [(ngModel)]="updform.googlemaplocation" #googlemaplocation="ngModel"  >
              
          </div>
      
      </div>  -->
           
               
            
                <div class="form-row">
                    <div class="form-group col-md-6">
                      <button type="submit" class="btn btn-primary  btn-block"  >Submit</button>
                      </div>
                      <div class="form-group col-md-6">
                    <button type="button" class="btn btn-danger  btn-block" (click)="updateDoctorForm.resetForm({})">Reset</button>
                      </div>        
                  
            
                    </div>
            </form>
            
            </div>
               
               

            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

 <!-- <app-footer></app-footer> -->