<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<app-nav></app-nav>

<div id="wrapper">       
	<!-- <app-sidenav></app-sidenav> 	 -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                <span class="hamb-top"></span>
    			<span class="hamb-middle"></span>
				<span class="hamb-bottom"></span>
            </button>
            <div  class="col-md-11 fright" >
              <!-- <h1 class="head-title"> {{ type | titlecase }}</h1>  -->
             
              
            <div class="float-container">

              <div class="add-form">

                 <div class="add-formin">
           
                  <form  name="addMasterForm"   #addMasterForm="ngForm" (ngSubmit)="updateMaster()"   >
     
           
                    <h2 class="text-center"> {{ ttype | titlecase}}</h2>       
                   
                    <div class="form-group">
                        <label >Value</label>
                        <textarea  type="text" id="itemName" name="itemName" class="form-control" required [(ngModel)]="updateform.itemName" #itemName="ngModel" autocomplete="off" 
                        placeholder="Value" rows="4" cols="50" >
                      </textarea>
                    </div>
   
                   
   
                    <div class="form-row">
                     <div class="form-group col-md-6">
                       <button type="submit" class="btn btn-primary  btn-block"  >Submit</button>
                       </div>
                       <div class="form-group col-md-6">
                     <button type="button" class="btn btn-danger  btn-block" (click)="addMasterForm.resetForm({})">Reset</button>
                       </div>        
                   
             
                     </div>
                  
              
                 </form>
               
           
             </div>

             </div>
          </div>

            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

 <!-- <app-footer></app-footer> -->
