.dasgboard-section
{
    width: 80% !important;
    margin: 0 auto;
    padding: 2em;
    //min-height: 100vh;
}
.float-container {
    //border: 3px solid #fff;
    padding: 20px;
   
}


.float-child {
    width: 50%;
    float: left;
    padding: 20px;
    //border: 2px solid red;
}  
.green h2{
    color: #17a2b8;
    //border-bottom: 1px dotted #17a2b8;
    padding-bottom: 1%;
}
#page-content-wrapper {
    //position: absolute;
    //padding: 15px;
    //width: 100%;
    width:85%;
    float: right;
    overflow-x: hidden;
 }
 #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0px;
 }
 .choose_file{
    padding:5px 10px;
    background:#00ad2d;
    border:1px solid #00ad2d;
    position:relative;
    color:#fff;
    border-radius:2px;
    text-align:center;
    float:left;
    cursor:pointer;
    margin-left: 50px;
  }
  .hide_file {
      position: absolute;
      z-index: 1000;
      opacity: 0;
      cursor: pointer;
      right: 0;
      top: 0;
      height: 100%;
      font-size: 24px;
      width: 100%;
      
  }
  .dicom_viewer {
    position: absolute;
}