<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<app-nav></app-nav>

<div id="wrapper">       
	<app-sidenav></app-sidenav> 	
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                <span class="hamb-top"></span>
    			<span class="hamb-middle"></span>
				<span class="hamb-bottom"></span>
            </button>
            <div  class="col-md-12 fright" >
				
        <div class="login-form">
      <form  name="commentForm"   #commentForm="ngForm" >
            
          <h2 class="text-center">Comments </h2> 
        
         
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="reason">Comments1</label>
              
        <textarea id="comment1" name="comment1" cols="25" rows="5" class="form-control" placeholder="Comment" ></textarea>
          </div>
        
          <div class="form-group col-md-6">
            <label for="reason">Comments2</label>
            
        <textarea id="comment2" name="comment2" cols="25" rows="5" class="form-control" placeholder="Comment" ></textarea>
        </div>
        
          </div>

      
          <div class="form-row">
              <div class="form-group col-md-6">
                <button type="submit" class="btn btn-primary  btn-block"  >Submit</button>
                </div>
                <div class="form-group col-md-6">
              <button type="button" class="btn btn-danger  btn-block" (click)="commentForm.resetForm({})">Reset</button>
                </div>        
            
      
              </div>
      </form> 
     
      </div>
			
	
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->


<!-- <app-footer></app-footer> -->
