a:hover{
    text-decoration:none;
    color: #fff;
}
.page-footer {
    background-color: #17a2b8;
   //position: fixed;
   left: 0;
   //bottom: 0;
   width: 100%;
   color: white;
   text-align: center;
    padding: 0.2rem!important;

    /* Stick footer to bottom of grid */
   // position: absolute;
    //bottom: 0;

}
a {
    color: #fff;
}