table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th {
    padding: 5px;
    text-align: center;
  }
  p {
    line-height: 0.5;
  }
  table { table-layout: fixed; }
td { width: 33%; }