<!DOCTYPE html>
<!-- saved from url=(0112)file:///C:/Users/mgherbert/AppData/Local/Microsoft/Windows/INetCache/Content.Outlook/0YDJNJGX/welcome_login.html -->
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Welcome To Clinic Management</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <style type="text/css">
    </style>
</head>

<body style="background-color: #F7F7F7; margin: 0!important; padding: 0!important;">

    <!-- HIDDEN PREHEADER TEXT -->
    <div style="display: none; max-height: 0px; overflow: hidden;">
      New Case Assigned 
    </div>

  <h3>NAME: <%= variables.name %>,</h3> 
  <p>Email: <%= variables.emailId %> </p>
  <p>Phone No: <%= variables.phoneno %> </p>
<p> Purpose: <%= variables.purpose %></p>
  <p>Thank you,</p>
  <p>TELE ECHOCARDIOGRAM</p>

   

</body>

</html>