<!----------------------------------------------------->
<div class="card">
	<div class="tabs1">
		<input type="radio" name="tabs1" id="tabonecompleted" checked="checked">
		<label for="tabonecompleted">No.of Cases Pending</label>
		<div class="tab">
			<app-case-completed></app-case-completed>
		</div>
		
		<input type="radio" name="tabs1" id="tabstwopending">
		<label for="tabstwopending"> No.of Cases Closed in a Day	</label>
		<div class="tab" style="min-height: 300px;">
			<h2> No.of Cases Completed in a Day</h2>
		</div>
		
		<!-- <input type="radio" name="tabs1" id="tabsthreeclosed">
		<label for="tabsthreeclosed">Cases to be Closed</label>
		<div class="tab" style="min-height: 300px;">
			<h2>Cases to be Closed</h2>
		</div> -->

		

	  </div>
	
	</div>
	<!--------------------------------------------------->



