<form  name="observationsForm"   #observationsForm="ngForm" (ngSubmit)="saveMitralValueData()"  >
  <div class="observe">
    <div id="container">
      <h3 class="head-title">Mitral Valve </h3> 
     
      <div class="total-container">
   
        <div class="form-row">


          <div class="container-fluid">
            <div class="row">
              <div layout="column">
                <div>
                  <div class="col-sm div-border">
                    <h3><label class="head-title">Mitral Valve</label></h3>
              
                    <div class="form-row">
    
                      <div class="form-group  col-md-4">
                        <label> Structure</label>  
                      </div>
                      <div class="form-group col-md-8">
                       
                        <select [(ngModel)]="updform.selectStructure" name="selectStructure" placeholder="select" 
                        (ngModelChange)="onOptionsSelected('Structure',updform.selectStructure)" class="form-control">
                        <option [ngValue]="undefined"> Not Applicable(N/A)</option>
                        <option *ngFor="let sta of structureOrFunction" [ngValue]="sta.itemName">{{sta.itemName}}</option>
                        </select>
                    </div>
        
                    </div>
<!--         
                    <div class="form-row">
        
                      <div class="form-group  col-md-4">
                        <label>  Anterior Leaflet</label>  
                      </div>
                      <div class="form-group col-md-8">
                        <select [(ngModel)]="updform.selectProlapse_Anterior_Leaflet" name="selectProlapse_Anterior_Leaflet" placeholder="select" 
                (ngModelChange)="onOptionsSelected('Prolapse_Anterior_Leaflet',updform.selectProlapse_Anterior_Leaflet)" class="form-control">
                <option  [ngValue]="undefined"> Not Applicable(N/A)</option>
                <option *ngFor="let sta of prolapseAnteriorLeaflet" [ngValue]="sta.itemName">{{sta.itemName}}</option>
                </select> 
        
                    </div>
        
                    </div>
    
                    <div class="form-row" >
    
                      <div class="form-group  col-md-4">
                        <label> Anterior Leaflet : Describe </label>  
                      </div>
                      <div class="form-group col-md-8">
                       
                        <input type="text" id="prolapse_Anterior_Leaflet_Value" name="prolapse_Anterior_Leaflet_Value" class="form-control"                 
                        placeholder="Describe Value" [(ngModel)]="updform.prolapse_Anterior_Leaflet_Value" 
                        #prolapse_Anterior_Leaflet_Value="ngModel"  >
                    </div>
        
                    </div>
        
                    <div class="form-row"  >
        
                      <div class="form-group  col-md-4">
                        <label>  Posterior Leaflet</label>  
                      </div>
                      <div class="form-group col-md-8">
                       
                        <select [(ngModel)]="updform.selectProlapse_Posterior_Leaflet" name="selectProlapse_Posterior_Leaflet" placeholder="select"                  
                        (ngModelChange)="onOptionsSelected('Prolapse_Posterior_Leaflet',updform.selectProlapse_Posterior_Leaflet)" class="form-control">
                        <option [ngValue]="undefined">Not Applicable(N/A)</option>
                        <option *ngFor="let sta of prolapsePosteriorLeaflet" [ngValue]="sta.itemName">{{sta.itemName}}</option>
                        </select>
                    </div>
        
                    </div> -->
    
                    <div class="form-row" *ngIf="updform.selectProlapse_Posterior_Leaflet === 'Multiple Scallop'" >
    
                      <div class="form-group  col-md-4">
                        <label>Posterior Leaflet : Describe </label>  
                      </div>
                      <div class="form-group col-md-8">
                        <input type="text" id="prolapse_Posterior_Leaflet_Value" name="prolapse_Posterior_Leaflet_Value" class="form-control"                 
                        placeholder="Type Value" [(ngModel)]="updform.prolapse_Posterior_Leaflet_Value" 
                        #prolapse_Posterior_Leaflet_Value="ngModel"  >
        
                    </div>
        
                    </div>
        
                    
    
    
                  </div>
                </div>
                <div>
                  <div class="col-sm div-border">
                    <h3><label class="head-title">Prolapse</label></h3>
              
                    
                    <!-- <div class="form-row" >
    
                      <div class="form-group  col-md-4">
                        <label> Anterior Leaflet : Describe </label>  
                      </div>
                      <div class="form-group col-md-8">
                       
                        <input type="text" id="prolapse_Anterior_Leaflet_Value" name="prolapse_Anterior_Leaflet_Value" class="form-control"                 
                        placeholder="Describe Value" [(ngModel)]="updform.prolapse_Anterior_Leaflet_Value" 
                        #prolapse_Anterior_Leaflet_Value="ngModel"  >
                    </div>
        
                    </div>
         -->
         <div class="form-row">
        
          <div class="form-group  col-md-4">
            <label>  Anterior Leaflet</label>  
          </div>
          <div class="form-group col-md-8">
            <select [(ngModel)]="updform.selectProlapse_Anterior_Leaflet" name="selectProlapse_Anterior_Leaflet" placeholder="select" 
    (ngModelChange)="onOptionsSelected('Prolapse_Anterior_Leaflet',updform.selectProlapse_Anterior_Leaflet)" class="form-control">
    <option  [ngValue]="undefined"> Not Applicable(N/A)</option>
    <option *ngFor="let sta of prolapseAnteriorLeaflet" [ngValue]="sta.itemName">{{sta.itemName}}</option>
    </select> 

        </div>

        </div>
  
         <div class="form-row"  >
        
                      <div class="form-group  col-md-4">
                        <label>  Posterior Leaflet</label>  
                      </div>
                      <div class="form-group col-md-8">
                       
                        <select [(ngModel)]="updform.selectProlapse_Posterior_Leaflet" name="selectProlapse_Posterior_Leaflet" placeholder="select"                  
                        (ngModelChange)="onOptionsSelected('Prolapse_Posterior_Leaflet',updform.selectProlapse_Posterior_Leaflet)" class="form-control">
                        <option [ngValue]="undefined">Not Applicable(N/A)</option>
                        <option *ngFor="let sta of prolapsePosteriorLeaflet" [ngValue]="sta.itemName">{{sta.itemName}}</option>
                        </select>
                    </div>
        
                    </div>
        
                  
    
                    <div class="form-row" *ngIf="updform.selectProlapse_Posterior_Leaflet === 'Multiple Scallop'" >
    
                      <div class="form-group  col-md-4">
                        <label>Posterior Leaflet : Describe </label>  
                      </div>
                      <div class="form-group col-md-8">
                        <input type="text" id="prolapse_Posterior_Leaflet_Value" name="prolapse_Posterior_Leaflet_Value" class="form-control"                 
                        placeholder="Type Value" [(ngModel)]="updform.prolapse_Posterior_Leaflet_Value" 
                        #prolapse_Posterior_Leaflet_Value="ngModel"  >
        
                    </div>
        
                    </div>
        
                    
    
    
                  </div>
                </div>
                <div>
                  <div class="col-sm div-border">
          
                    <h3> <label class="head-title">  Flail Leaflet</label></h3>
              
                    <div class="form-row">
    
                      <div class="form-group  col-md-4">
                        <label> Anterior Leaflet </label>  
                      </div>
                      <div class="form-group col-md-8">
                        <select [(ngModel)]="updform.selectFlail_Leaflets_Anterior_Leaflets" name="selectFlail_Leaflets_Anterior_Leaflets" placeholder="select" 
                        (ngModelChange)="onOptionsSelected('Flail_Leaflets_Anterior_Leaflets',updform.selectFlail_Leaflets_Anterior_Leaflets)" class="form-control">
                        <option [ngValue]="undefined"> Not Applicable(N/A)</option>
                        <option *ngFor="let sta of flailLeafletAnterior" [ngValue]="sta.itemName">{{sta.itemName}}</option>
                        </select>
        
                    </div>
        
                    </div>
        
                    <div class="form-row">
        
                      <div class="form-group  col-md-4">
                        <label>  Posterior Leaflet</label>  
                      </div>
                      <div class="form-group col-md-8">
                        <select [(ngModel)]="updform.selectFlail_Leaflets_Posterior_Leaflets" name="selectFlail_Leaflets_Posterior_Leaflets" placeholder="select" 
                        (ngModelChange)="onOptionsSelected('Flail_Leaflets_Posterior_Leaflets',updform.selectFlail_Leaflets_Posterior_Leaflets)" class="form-control">
                        <option [ngValue]="undefined"> Not Applicable(N/A)</option>
                        <option *ngFor="let sta of flailLeafletPosterior" [ngValue]="sta.itemName">{{sta.itemName}}</option>
                        </select>
        
                    </div>
        
                    </div>
                  
                   
                  </div>
                </div>
                <div>
                  <div class="col-sm div-border">
          
                    <h3><label class="head-title">  Ruptured Chordae</label></h3>
                    <div class="form-row">
    
                      <div class="form-group  col-md-4">
                        <label> Anterior Leaflet </label>  
                      </div>
                      <div class="form-group col-md-8">
                        <select [(ngModel)]="updform.selectRuptured_Chordae_Anterior_Leaflets" name="selectRuptured_Chordae_Anterior_Leaflets" placeholder="select" 
                (ngModelChange)="onOptionsSelected('Ruptured_Chordae_Anterior_Leaflets',updform.selectRuptured_Chordae_Anterior_Leaflets)" class="form-control">
                <option [ngValue]="undefined"> Not Applicable(N/A)</option>
                <option *ngFor="let sta of rupturedChordaeAnterior" [ngValue]="sta.itemName">{{sta.itemName}}</option>
                </select>
        
                    </div>
        
                    </div>
        
                    <div class="form-row">
        
                      <div class="form-group  col-md-4">
                        <label>  Posterior Leaflet</label>  
                      </div>
                      <div class="form-group col-md-8">
                        <select [(ngModel)]="updform.selectRuptured_Chordae_Posterior_Leaflets" name="selectRuptured_Chordae_Posterior_Leaflets" placeholder="select" 
                        (ngModelChange)="onOptionsSelected('Ruptured_Chordae_Posterior_Leaflets',updform.selectRuptured_Chordae_Posterior_Leaflets)" class="form-control">
                        <option [ngValue]="undefined"> Not Applicable(N/A)</option>
                        <option *ngFor="let sta of rupturedChordaePosterior" [ngValue]="sta.itemName">{{sta.itemName}}</option>
                        </select>
        
                    </div>
        
                    </div>
    
                    <div class="form-row">
    
                      <div class="form-group  col-md-4">
                        <label> Other chordal disease</label>  
                      </div>
                      <div class="form-group col-md-8">
                        <select [(ngModel)]="updform.selectRuptured_Chordae_Other_Chordal_Disease" name="selectRuptured_Chordae_Other_Chordal_Disease" placeholder="select" 
                        (ngModelChange)="onOptionsSelected('Ruptured_Chordae_Other_Chordal_Disease',updform.selectRuptured_Chordae_Other_Chordal_Disease)" class="form-control">
                        <option [ngValue]="undefined"> Not Applicable(N/A)</option>
                        <option *ngFor="let sta of otherChordalDisease" [ngValue]="sta.itemName">{{sta.itemName}}</option>
                        </select>
        
                    </div>
        
                    </div>
        
                   
              
                  </div>
              


                </div>
                <div>
                  <div class="col-sm div-border">

                    <h3><label class="head-title">Systolic anterior motion</label></h3>
              
                    <div class="form-row">
              
                      <div class="form-group  col-md-4">
                        <label>Anterio Leaflet </label>  
                      </div>
                      <div class="form-group col-md-8">
                        <select [(ngModel)]="updform.selectSystolic_Anterior_Motion_Anterior_Leaflet" name="selectSystolic_Anterior_Motion_Anterior_Leaflet" placeholder="select" 
                        (ngModelChange)="onOptionsSelected('Systolic_Anterior_Motion_Anterior_Leaflet',updform.selectSystolic_Anterior_Motion_Anterior_Leaflet)" class="form-control">
                        <option [ngValue]="undefined"> Not Applicable(N/A)</option>
                        <option *ngFor="let sta of systolicAnteriorLeaflet" [ngValue]="sta.itemName">{{sta.itemName}}</option>
                        </select> 
              
                    </div>
              
                    </div>
              
                    <div class="form-row">
              
                      <div class="form-group  col-md-4">
                        <label> Posterior Leaflet</label>  
                      </div>
                      <div class="form-group col-md-8">
                       
                        <select [(ngModel)]="updform.selectSystolic_Anterior_Motion_Posterior_Leaflet" name="selectSystolic_Anterior_Motion_Posterior_Leaflet" placeholder="select" 
                        (ngModelChange)="onOptionsSelected('Systolic_Anterior_Motion_Posterior_Leaflet',updform.selectSystolic_Anterior_Motion_Posterior_Leaflet)" class="form-control">
                        <option [ngValue]="undefined"> Not Applicable(N/A)</option>
                        <option *ngFor="let sta of systolicPosteriorLeaflet" [ngValue]="sta.itemName">{{sta.itemName}}</option>
                        </select>
                    </div>
              
                    </div>
              
                    <div class="form-row">
              
                      <div class="form-group  col-md-4">
                        <label>Chordal </label>  
                      </div>
                      <div class="form-group col-md-8">
                        <select [(ngModel)]="updform.selectSystolic_Anterior_Motion_Chordal" name="selectSystolic_Anterior_Motion_Chordal" placeholder="select" 
                        (ngModelChange)="onOptionsSelected('Systolic_Anterior_Motion_Chordal',updform.selectSystolic_Anterior_Motion_Chordal)" class="form-control">
                        <option [ngValue]="undefined"> Not Applicable(N/A)</option>
                        <option *ngFor="let sta of systolicChordal" [ngValue]="sta.itemName">{{sta.itemName}}</option>
                        </select> 
              
                    </div>
              
                    </div>
              
                    <!-- <div class="form-row">
              
                      <div class="form-group  col-md-4">
                        <label> Dilated annulus : Dimensions</label>  
                      </div>
                      <div class="form-group col-md-8">
                       
                        <input type="text" id="dilated_Annulus_Dimensions" name="dilated_Annulus_Dimensions" class="form-control"                 
                        placeholder="Dimensions Value" [(ngModel)]="updform.dilated_Annulus_Dimensions" 
                        #dilated_Annulus_Dimensions="ngModel"  >
                    </div>
              
                    </div> -->
              
                    <div class="form-row">
              
                      <div class="form-group  col-md-4">
                        <label> Diastolic fluttering</label>  
                      </div>
                      <div class="form-group col-md-8">
                        <select [(ngModel)]="updform.selectSystolic_Anterior_Motion_Diastolic_Fluttering" name="selectSystolic_Anterior_Motion_Diastolic_Fluttering" placeholder="select" 
                        (ngModelChange)="onOptionsSelected('Systolic_Anterior_Motion_Diastolic_Fluttering',updform.selectSystolic_Anterior_Motion_Diastolic_Fluttering)" class="form-control">
                        <option [ngValue]="undefined"> Not Applicable(N/A)</option>
                        <option *ngFor="let sta of diastolicFluttering" [ngValue]="sta.itemName">{{sta.itemName}}</option>
                        </select>
              
                    </div>
              
                    </div>
              
                
              
              
              
                  </div>
                </div>
                
              </div>
              <div layout="column">
                <div>
                  <div class="col-sm div-border">
                    <h3><label class="head-title">Leaflet elongation</label></h3>
              
      
                    <div class="form-row">
          
                      <div class="form-group  col-md-4">
                        <label>  Anterior leaflet</label>  
                      </div>
                      <div class="form-group col-md-8">
                        <select [(ngModel)]="updform.selectLeaflet_Elongation_Anterior_Leaflet" name="selectLeaflet_Elongation_Anterior_Leaflet" placeholder="select" 
           (ngModelChange)="onOptionsSelected('Leaflet_Elongation_Anterior_Leaflet',updform.selectLeaflet_Elongation_Anterior_Leaflet)" class="form-control">
           <option [ngValue]="undefined"> Not Applicable(N/A)</option>
           <option *ngFor="let sta of leafletElongationAnterior" [ngValue]="sta.itemName">{{sta.itemName}}</option>
           </select>
        
                    </div>
        
                    </div>
      
                    <div class="form-row">
      
                      <div class="form-group  col-md-4">
                        <label>  Posterior leaflet</label>  
                      </div>
                      <div class="form-group col-md-8">
                        <select [(ngModel)]="updform.selectLeaflet_Elongation_Posterior_Leaflet" name="selectLeaflet_Elongation_Posterior_Leaflet" placeholder="select" 
                        (ngModelChange)="onOptionsSelected('Leaflet_Elongation_Posterior_Leaflet',updform.selectLeaflet_Elongation_Posterior_Leaflet)" class="form-control">
                        <option [ngValue]="undefined"> Not Applicable(N/A)</option>
                        <option *ngFor="let sta of leafletElongationPosterior" [ngValue]="sta.itemName">{{sta.itemName}}</option>
                        </select> 
        
                    </div>
        
                    </div>
        
                   
              
                  </div>
                </div>
                <div>
                  <div class="col-sm div-border">
        
                    <h3> <label class="head-title">Leaflet thickening/calcification</label></h3>
              
                    <div class="form-row">
        
                      <div class="form-group  col-md-4">
                        <label>  Anterior leaflet</label>  
                      </div>
                      <div class="form-group col-md-8">
                        <select [(ngModel)]="updform.selectLeaflet_Thickening_Calcification_Anterior_Leaflet" name="selectLeaflet_Thickening_Calcification_Anterior_Leaflet" placeholder="select" 
                        (ngModelChange)="onOptionsSelected('Leaflet_Thickening_Calcification_Anterior_Leaflet',updform.selectLeaflet_Thickening_Calcification_Anterior_Leaflet)" class="form-control">
                        <option [ngValue]="undefined"> Not Applicable(N/A)</option>
                        <option *ngFor="let sta of leafletThickeningAnterior" [ngValue]="sta.itemName">{{sta.itemName}}</option>
                        </select> 
        
                    </div>
        
                    </div>
      
                    <div class="form-row">
      
                      <div class="form-group  col-md-4">
                        <label>   Posterior leaflet </label>  
                      </div>
                      <div class="form-group col-md-8">
                        <select [(ngModel)]="updform.selectLeaflet_Thickening_Calcification_Posterior_Leaflet" name="selectLeaflet_Thickening_Calcification_Posterior_Leaflet" placeholder="select" 
                        (ngModelChange)="onOptionsSelected('Leaflet_Thickening_Calcification_Posterior_Leaflet',updform.selectLeaflet_Thickening_Calcification_Posterior_Leaflet)" class="form-control">
                        <option [ngValue]="undefined"> Not Applicable(N/A)</option>
                        <option *ngFor="let sta of leafletThickeningPosteriior" [ngValue]="sta.itemName">{{sta.itemName}}</option>
                        </select> 
        
                    </div>
        
                    </div>
                  
                   
                  </div>
                </div>
                <div>
                  <div class="col-sm div-border">
        
                    <h3><label class="head-title">Leaflet mobility</label></h3>
              
                    <div class="form-row">
        
                      <div class="form-group  col-md-4">
                        <label> Leaflet mobility </label>  
                      </div>
                      <div class="form-group col-md-8">
                        <select [(ngModel)]="updform.selectLeaflet_Mobility" name="selectLeaflet_Mobility" placeholder="select" 
                        (ngModelChange)="onOptionsSelected('Leaflet_Mobility',updform.selectLeaflet_Mobility)" class="form-control">
                        <option [ngValue]="undefined"> Not Applicable(N/A)</option>
                        <option *ngFor="let sta of leafletMobility" [ngValue]="sta.itemName">{{sta.itemName}}</option>
                        </select>
        
                    </div>
        
                    </div>
      
                    <div class="form-row" >
      
                      <div class="form-group  col-md-4">
                        <label>  Anterior mitral leaflet </label>  
                      </div>
                      <div class="form-group col-md-8">
                        <select [(ngModel)]="updform.selectLeaflet_Mobility_Anterior_Mitral_Leaflet" name="selectLeaflet_Mobility_Anterior_Mitral_Leaflet" placeholder="select" 
                        (ngModelChange)="onOptionsSelected('Leaflet_Mobility_Anterior_Mitral_Leaflet',updform.selectLeaflet_Mobility_Anterior_Mitral_Leaflet)" class="form-control">
                        <option [ngValue]="undefined"> Not Applicable(N/A)</option>
                        <option *ngFor="let sta of leafletMobilityAbnormalAnterior" [ngValue]="sta.itemName">{{sta.itemName}}</option>
                        </select>
        
                    </div>
        
                    </div>
        
                    <div class="form-row" >
        
                      <div class="form-group  col-md-4">
                        <label>  Posterior mitral leaflet </label>  
                      </div>
                      <div class="form-group col-md-8">
                       
                        <select [(ngModel)]="updform.selectLeaflet_Mobility_Posterior_Mitral_Leaflet" name="selectLeaflet_Mobility_Posterior_Mitral_Leaflet" placeholder="select" 
                        (ngModelChange)="onOptionsSelected('Leaflet_Mobility_Posterior_Mitral_Leaflet',updform.selectLeaflet_Mobility_Posterior_Mitral_Leaflet)" class="form-control">
                        <option [ngValue]="undefined"> Not Applicable(N/A)</option>
                        <option *ngFor="let sta of leafletMobilityAbnormalPosterior" [ngValue]="sta.itemName">{{sta.itemName}}</option>
                        </select>
                    </div>
        
                    </div>
              
                  </div>
                </div>
                <div>
                  <div class="col-sm div-border">
                    <h3><label class="head-title">Annular calcification</label></h3>
                    <div class="form-row">
      
                      <div class="form-group  col-md-4">
                        <label> Annular calcification</label>  
                      </div>
                      <div class="form-group col-md-8">
                        <select [(ngModel)]="updform.selectAnnular_Calicification" name="selectAnnular_Calicification" placeholder="select" 
         (ngModelChange)="onOptionsSelected('Annular_Calicification',updform.selectAnnular_Calicification)" class="form-control">
         <option [ngValue]="undefined"> Not Applicable(N/A)</option>
         <option *ngFor="let sta of annularCalicification" [ngValue]="sta.itemName">{{sta.itemName}}</option>
         </select>
        
                    </div>
        
                    </div>
        
                    <!-- <div class="form-row">
        
                      <div class="form-group  col-md-4">
                        <label> Subvalvular disease  : Calcification</label>  
                      </div>
                      <div class="form-group col-md-8">
                        <select [(ngModel)]="updform.selectSubvalvular_disease_Calicification" name="selectSubvalvular_disease_Calicification" placeholder="select" 
                        (ngModelChange)="onOptionsSelected('Subvalvular_disease_Calicification',updform.selectSubvalvular_disease_Calicification)" class="form-control">
                        <option [ngValue]="undefined"> Not Applicable(N/A)</option>
                        <option *ngFor="let sta of sub_Valvular_Disease_Calicification" [ngValue]="sta.itemName">{{sta.itemName}}</option>
                        </select>
        
                    </div>
        
                    </div> -->
              
                  </div>
                </div>
                <div>
                  <div class="col-sm div-border">
        
                    <h3> <label class="head-title">Subvalvular disease</label></h3>
              
              
      
                    <div class="form-row">
      
                      <div class="form-group  col-md-4">
                        <label> Calcification </label>  
                      </div>
                      <div class="form-group col-md-8">
                        <select [(ngModel)]="updform.selectsub_Valvular_Disease_Calicification" name="selectsub_Valvular_Disease_Calicification" placeholder="select" 
                        (ngModelChange)="onOptionsSelected('sub_Valvular_Disease_Calicification',updform.selectsub_Valvular_Disease_Calicification)" class="form-control">
                        <option [ngValue]="undefined"> Not Applicable(N/A)</option>
                        <option *ngFor="let sta of subvalvulardiseaseCalicification" [ngValue]="sta.itemName">{{sta.itemName}}</option>
                        </select> 
        
                    </div>
        
                    </div>
        
                    <div class="form-row">
        
                      <div class="form-group  col-md-4">
                        <label> Annular dilatation</label>  
                      </div>
                      <div class="form-group col-md-8">
                        <select [(ngModel)]="updform.selectsub_Valvular_Disease_Annular_Dilatation" name="selectsub_Valvular_Disease_Annular_Dilatation" placeholder="select" 
       (ngModelChange)="onOptionsSelected('sub_Valvular_Disease_Annular_Dilatation',updform.selectsub_Valvular_Disease_Annular_Dilatation)" class="form-control">
       <option [ngValue]="undefined"> Not Applicable(N/A)</option>
       <option *ngFor="let sta of annularAnnularDilatation" [ngValue]="sta.itemName">{{sta.itemName}}</option>
       </select>
        
                    </div>
        
                    </div>
              
                   
                  </div>
                </div>
                <div>
                  <div class="col-sm div-border">
      <h3><label class="head-title">Prosthetic Valve</label></h3>

      <!-- <div class="form-row">

        <div class="form-group  col-md-4">
          <label>Prosthetic Valve </label>  
        </div>
        <div class="form-group col-md-8">
          <select [(ngModel)]="updform.selectProsthetic_Valve" name="selectProsthetic_Valve" placeholder="select" 
          (ngModelChange)="onOptionsSelected('Prosthetic_Valve',updform.selectProsthetic_Valve)" class="form-control">
          <option [ngValue]="undefined"> Not Applicable(N/A)</option>
          <option *ngFor="let sta of prostheticValve" [ngValue]="sta.itemName">{{sta.itemName}}</option>
          </select>

      </div>

      </div> -->

      <div class="form-row">

        <div class="form-group  col-md-4">
          <label>  Mechanical</label>  
        </div>
        <div class="form-group col-md-8">
          <select [(ngModel)]="updform.selectProsthetic_Valve_Mechanical" name="selectProsthetic_Valve_Mechanical" placeholder="select" 
          (ngModelChange)="onOptionsSelected('Prosthetic_Valve_Mechanical',updform.selectProsthetic_Valve_Mechanical)" class="form-control">
          <option [ngValue]="undefined"> Not Applicable(N/A)</option>
          <option *ngFor="let sta of prostheticValveTypeMechanical" [ngValue]="sta.itemName">{{sta.itemName}}</option>
          </select>

      </div>

      </div>

      <div class="form-row"  >

        <div class="form-group  col-md-4"> 
          <label>Others(Specify) </label>  
        </div>
        <div class="form-group col-md-8">
          <input type="text" id="prosthetic_Valve_Type_Mechanical_Others_Details" name="prosthetic_Valve_Type_Mechanical_Others_Details" class="form-control"                 
          placeholder="Others Value" [(ngModel)]="updform.prosthetic_Valve_Type_Mechanical_Others_Details" 
          #prosthetic_Valve_Type_Mechanical_Others_Details="ngModel"  >

      </div>

      </div>

      <div class="form-row" *ngIf="updform.selectProsthetic_Valve_Mechanical === 'Manufacturer'" >

        <div class="form-group  col-md-4">
          <label> Manufacturers</label>  
        </div>
        <div class="form-group col-md-8">
          <input type="text" id="prosthetic_Valve_Type_Mechanical_Manufacturers" name="prosthetic_Valve_Type_Mechanical_Manufacturers" class="form-control"                 
          placeholder="Manufacturers Value" [(ngModel)]="updform.prosthetic_Valve_Type_Mechanical_Manufacturers" 
          #prosthetic_Valve_Type_Mechanical_Manufacturers="ngModel"  > 

      </div>

      </div>

      <div class="form-row" *ngIf="updform.selectProsthetic_Valve_Mechanical === 'Size'" >

        <div class="form-group  col-md-4">
          <label> Size</label>  
        </div>
        <div class="form-group col-md-8">
          <input type="text" id="prosthetic_Valve_Type_Mechanical_Size" name="prosthetic_Valve_Type_Mechanical_Size" class="form-control"                 
          placeholder="Size Value" [(ngModel)]="updform.prosthetic_Valve_Type_Mechanical_Size" 
          #prosthetic_Valve_Type_Mechanical_Size="ngModel"  >

      </div>

      </div>

      <div class="form-row">

        <div class="form-group  col-md-4">
          <label>  Bioprosthetic </label>  
        </div>
        <div class="form-group col-md-8">
          <select [(ngModel)]="updform.selectProsthetic_Valve_Bioprosthetic" name="selectProsthetic_Valve_Bioprosthetic" placeholder="select" 
          (ngModelChange)="onOptionsSelected('Prosthetic_Valve_Bioprosthetic',updform.selectProsthetic_Valve_Bioprosthetic)" class="form-control">
          <option [ngValue]="undefined"> Not Applicable(N/A)</option>
          <option *ngFor="let sta of prostheticValveTypeBioprosthetic" [ngValue]="sta.itemName">{{sta.itemName}}</option>
          </select>

      </div>

      </div>
      
      <div class="form-row"  >

        <div class="form-group  col-md-4">
          <label> Others(Specify)</label>  
        </div>
        <div class="form-group col-md-8">
          <input type="text" id="prosthetic_Valve_Type_Bioprosthetic_Others_Details" name="prosthetic_Valve_Type_Bioprosthetic_Others_Details" class="form-control"                 
          placeholder="Others Value" [(ngModel)]="updform.prosthetic_Valve_Type_Bioprosthetic_Others_Details" 
          #prosthetic_Valve_Type_Bioprosthetic_Others_Details="ngModel"  >

      </div>

      </div>

      <div class="form-row" *ngIf="updform.selectProsthetic_Valve_Bioprosthetic === 'Manufacturer'">

        <div class="form-group  col-md-4">
          <label> Manufacturers</label>  
        </div>
        <div class="form-group col-md-8">
         
          <input type="text" id="prosthetic_Valve_Type_Bioprosthetic_Manufacturers" name="prosthetic_Valve_Type_Bioprosthetic_Manufacturers" class="form-control"                 
          placeholder="Manufacturers Value" [(ngModel)]="updform.prosthetic_Valve_Type_Bioprosthetic_Manufacturers" 
          #prosthetic_Valve_Type_Bioprosthetic_Manufacturers="ngModel"  >
      </div>

      </div>

      <div class="form-row" *ngIf="updform.selectProsthetic_Valve_Bioprosthetic === 'Size'" >

        <div class="form-group  col-md-4">
          <label>Size </label>  
        </div>
        <div class="form-group col-md-8">
          <input type="text" id="prosthetic_Valve_Type_Bioprosthetic_Size" name="prosthetic_Valve_Type_Bioprosthetic_Size" class="form-control"                 
          placeholder="Size Value" [(ngModel)]="updform.prosthetic_Valve_Type_Bioprosthetic_Size" 
          #prosthetic_Valve_Type_Bioprosthetic_Size="ngModel"  >

      </div>

      </div>

      <div class="form-row">

        <div class="form-group  col-md-4">
          <label> Abnormality</label>  
        </div>
        <div class="form-group col-md-8">
         
          <select [(ngModel)]="updform.selectProsthetic_Valve_Abnormality" name="selectProsthetic_Valve_Abnormality" placeholder="select" 
          (ngModelChange)="onOptionsSelected('Prosthetic_Valve_Abnormality',updform.selectProsthetic_Valve_Abnormality)" class="form-control">
          <option [ngValue]="undefined"> Not Applicable(N/A)</option>
          <option *ngFor="let sta of prostheticValveAbnormality" [ngValue]="sta.itemName">{{sta.itemName}}</option>
          </select>
      </div>

      </div>
      <div class="form-row">

        <div class="form-group  col-md-4">
          <label> Regurgitation </label>  
        </div>
        <div class="form-group col-md-8">
          <select [(ngModel)]="updform.selectProsthetic_Valve_Regurgitation" name="selectProsthetic_Valve_Regurgitation" placeholder="select" 
          (ngModelChange)="onOptionsSelected('Prosthetic_Valve_Regurgitation',updform.selectProsthetic_Valve_Regurgitation)" class="form-control">
          <option [ngValue]="undefined"> Not Applicable(N/A)</option>
          <option *ngFor="let sta of prostheticValveAbnormalityRegurgitation" [ngValue]="sta.itemName">{{sta.itemName}}</option>
          </select>

      </div>

      </div>
      <!-- <div class="form-row" *ngIf="updform.selectProsthetic_Valve_Abnormality === 'Fistula'" >

        <div class="form-group  col-md-4">
          <label>Describe </label>  
        </div>
        <div class="form-group col-md-8">
         
          <input type="text" id="prosthetic_Valve_Abnormality_Fistula_Describe" name="prosthetic_Valve_Abnormality_Fistula_Describe" class="form-control"                 
          placeholder="Describe Value" [(ngModel)]="updform.prosthetic_Valve_Abnormality_Fistula_Describe" 
          #prosthetic_Valve_Abnormality_Fistula_Describe="ngModel"  >
      </div>

      </div> -->

      <div class="form-row" *ngIf="updform.selectProsthetic_Valve_Abnormality === 'fracture/perforation'" >

        <div class="form-group  col-md-4">
          <label>Describe </label>  
        </div>
        <div class="form-group col-md-8">
          <input type="text" id="prosthetic_Valve_Abnormality_Fracture_Describe" name="prosthetic_Valve_Abnormality_Fracture_Describe" class="form-control"                 
          placeholder="Describe Value" [(ngModel)]="updform.prosthetic_Valve_Abnormality_Fracture_Describe" 
          #prosthetic_Valve_Abnormality_Fracture_Describe="ngModel"  >

      </div>

      </div>


    </div>
                </div>
              </div>
          <div layout="column">
<div>
  <div class="col-sm div-border">
        
    <h3><label class="head-title">Vegetation</label></h3>

    <div class="form-row">

      <div class="form-group  col-md-4">
        <label> Anterior leaflet</label>  
      </div>
      <div class="form-group col-md-8">
        <select [(ngModel)]="updform.selectVegetation_Anterior_Leaflet" name="selectVegetation_Anterior_Leaflet" placeholder="select" 
        (ngModelChange)="onOptionsSelected('Vegetation_Anterior_Leaflet',updform.selectVegetation_Anterior_Leaflet)" class="form-control">
        <option [ngValue]="undefined"> Not Applicable(N/A)</option>
        <option *ngFor="let sta of vegetationAnterior" [ngValue]="sta.itemName">{{sta.itemName}}</option>
        </select> 

    </div>

    </div>

    <div class="form-row" *ngIf="updform.selectVegetation_Anterior_Leaflet === 'Others(Specify)'">

      <div class="form-group  col-md-4">
        <label> Others(Specify)</label>  
      </div>
      <div class="form-group col-md-8">
        <input type="text" id="vegetation_Anterior_Others" name="vegetation_Anterior_Others" class="form-control"                 
        placeholder="Others Value" [(ngModel)]="updform.vegetation_Anterior_Others" 
        #vegetation_Anterior_Others="ngModel"  >

    </div>

    </div>

    <div class="form-row">

      <div class="form-group  col-md-4">
        <label> Size</label>  
      </div>
      <div class="form-group col-md-8">
        <select [(ngModel)]="updform.selectVegetation_Anterior_Leaflet_Size" name="selectVegetation_Anterior_Leaflet_Size" placeholder="select" 
        (ngModelChange)="onOptionsSelected('Vegetation_Anterior_Leaflet_Size',updform.selectVegetation_Anterior_Leaflet_Size)" class="form-control">
        <option [ngValue]="undefined"> Not Applicable(N/A)</option>
        <option *ngFor="let sta of vegetationPosteriorSize" [ngValue]="sta.itemName">{{sta.itemName}}</option>
        </select> 

    </div>

    </div>
    <div class="form-row" >

      <div class="form-group  col-md-4">
        <label> Dimensions</label>  
      </div>
      <div class="form-group col-md-8">
        <input type="text" id="vegetation_Posterior_Dimensions" name="vegetation_Posterior_Dimensions" class="form-control"                 
        placeholder="Others Value" [(ngModel)]="updform.vegetation_Posterior_Dimensions" 
        #vegetation_Posterior_Dimensions="ngModel"  >

    </div>

    </div>
    <div class="form-row" *ngIf="updform.selectVegetation_Posterior === 'Dimensions'">

      <div class="form-group  col-md-4">
        <label> Dimensions </label>  
      </div>
      <div class="form-group col-md-8">
       
        <input type="text" id="vegetation_Posterior_Dimensions" name="vegetation_Posterior_Dimensions" class="form-control"                 
        placeholder="Dimensions Value" [(ngModel)]="updform.vegetation_Posterior_Dimensions" 
        #vegetation_Posterior_Dimensions="ngModel"  >
    </div>

    </div>

    <div class="form-row" *ngIf="updform.selectVegetation_Posterior === 'Others(Specify)'" >

      <div class="form-group  col-md-4">
        <label> Others(Specify) </label>  
      </div>
      <div class="form-group col-md-8">
       
        <input type="text" id="vegetation_Posterior_Others" name="vegetation_Posterior_Others" class="form-control"                 
        placeholder="Others Value" [(ngModel)]="updform.vegetation_Posterior_Others" 
        #vegetation_Posterior_Others="ngModel"  >
    </div>

    </div>

   



  </div>
</div>
<div>
  <div class="col-sm div-border">
    <h3><label class="head-title">Abscess</label></h3>
    <div class="form-row">

      <div class="form-group  col-md-4">
        <label> Location</label>  
      </div>
      <div class="form-group col-md-8">
        <select [(ngModel)]="updform.selectAbscess_Location" name="selectAbscess_Location" placeholder="select" 
        (ngModelChange)="onOptionsSelected('Abscess_Location',updform.selectAbscess_Location)" class="form-control">
        <option [ngValue]="undefined"> Not Applicable(N/A)</option>
        <option *ngFor="let sta of abscessLocation" [ngValue]="sta.itemName">{{sta.itemName}}</option>
        </select>

    </div>

    </div>

    <div class="form-row">

      <div class="form-group  col-md-4">
        <label> Size</label>  
      </div>
      <div class="form-group col-md-8">
       
        <select [(ngModel)]="updform.selectAbscess_Size" name="selectAbscess_Size" placeholder="select" 
        (ngModelChange)="onOptionsSelected('Abscess_Size',updform.selectAbscess_Size)" class="form-control">
        <option [ngValue]="undefined"> Not Applicable(N/A)</option>
        <option *ngFor="let sta of abscessSize" [ngValue]="sta.itemName">{{sta.itemName}}</option>
        </select>
    </div>

    </div>

    <div class="form-row" >
      <div class="form-group  col-md-4">
        <label>Dimensions</label>  
      </div>
      <div class="form-group col-md-8">
        <input type="text" id="abscess_Size_Dimensions" name="abscess_Size_Dimensions" class="form-control"                 
        placeholder="Others Value" [(ngModel)]="updform.abscess_Size_Dimensions" 
        #abscess_Size_Dimensions="ngModel"  >

    </div>

    </div>

   

  </div>



</div>
<div>
  <div class="col-sm div-border">

    <h3> <label class="head-title">Cleft</label></h3>

    <div class="form-row">

      <div class="form-group  col-md-4">
        <label> Anterio Leaflet </label>  
      </div>
      <div class="form-group col-md-8">
        <select [(ngModel)]="updform.selectCleft_Anterior_Leaflet" name="selectCleft_Anterior_Leaflet" placeholder="select" 
        (ngModelChange)="onOptionsSelected('Cleft_Anterior_Leaflet',updform.selectCleft_Anterior_Leaflet)" class="form-control">
        <option [ngValue]="undefined"> Not Applicable(N/A)</option>
        <option *ngFor="let sta of cleftAnterior" [ngValue]="sta.itemName">{{sta.itemName}}</option>
        </select>

    </div>

    </div>

    <div class="form-row">

      <div class="form-group  col-md-4">
        <label> Posterior Leaflet</label>  
      </div>
      <div class="form-group col-md-8">
        <select [(ngModel)]="updform.selectCleft_Posterior_Leaflet" name="selectCleft_Posterior_Leaflet" placeholder="select" 
        (ngModelChange)="onOptionsSelected('Cleft_Posterior_Leaflet',updform.selectCleft_Posterior_Leaflet)" class="form-control">
        <option [ngValue]="undefined"> Not Applicable(N/A)</option>
        <option *ngFor="let sta of cleftPosterior" [ngValue]="sta.itemName">{{sta.itemName}}</option>
        </select>

    </div>

    </div>

    
   
  </div>

</div>
<div>
  <div class="col-sm div-border">

    <h3> <label class="head-title">Mitral Stenosis</label></h3>

    <div class="form-row">

      <div class="form-group  col-md-4">
        <label>Severity </label>  
      </div>
      <div class="form-group col-md-8">
        <select [(ngModel)]="updform.selectMitral_Stenosis_Severity" name="selectMitral_Stenosis_Severity" placeholder="select" 
        (ngModelChange)="onOptionsSelected('Mitral_Stenosis_Severity',updform.selectMitral_Stenosis_Severity)" class="form-control">
        <option [ngValue]="undefined"> Not Applicable(N/A)</option>
        <option *ngFor="let sta of mitralStenosisSeverity" [ngValue]="sta.itemName">{{sta.itemName}}</option>
        </select>

    </div>

    </div>

    <!-- <div class="form-row">

      <div class="form-group  col-md-4">
        <label> Quantitative Measurements (If mitral stenosis present)</label>  
      </div>
      <div class="form-group col-md-8">
        <select [(ngModel)]="updform.selectMitral_Stenosis_Quantitative" name="selectMitral_Stenosis_Quantitative" placeholder="select" 
        (ngModelChange)="onOptionsSelected('Mitral_Stenosis_Quantitative',updform.selectMitral_Stenosis_Quantitative)" class="form-control">
        <option [ngValue]="undefined"> Not Applicable(N/A)</option>
        <option *ngFor="let sta of mitralStenosisQuantitative" [ngValue]="sta.itemName">{{sta.itemName}}</option>
        </select>

    </div>

    </div>

    <div class="form-row" *ngIf="updform.selectMitral_Stenosis_Quantitative === 'Mitral Stenosis-Quantitative Measurements-Mitral Valve Area-By Other Method(Specify)'">

      <div class="form-group  col-md-4">
        <label> Others(Specify)</label>  
      </div>
      <div class="form-group col-md-8">
       
        <input type="text" id="mitral_Stenosis_Quantitative_Other" name="mitral_Stenosis_Quantitative_Other" class="form-control"                 
        placeholder="Others(Specify)" [(ngModel)]="updform.mitral_Stenosis_Quantitative_Other" 
        #mitral_Stenosis_Quantitative_Other="ngModel"  >
    </div>

    </div>

    <div class="form-row">

      <div class="form-group  col-md-4">
        <label>Status-post Commissurotomy </label>  
      </div>
      <div class="form-group col-md-8">
        <select [(ngModel)]="updform.selectMitral_Stenosis_Status" name="selectMitral_Stenosis_Status" placeholder="select" 
    (ngModelChange)="onOptionsSelected('Mitral_Stenosis_Status',updform.selectMitral_Stenosis_Status)" class="form-control">
    <option [ngValue]="undefined"> Not Applicable(N/A)</option>
    <option *ngFor="let sta of mitralStenosisStatus" [ngValue]="sta.itemName">{{sta.itemName}}</option>
    </select>

    </div>

    </div> -->
  
   
  </div>
</div>
<div>
  <div class="col-sm div-border">

    <h3><label class="head-title">Mitral Regurgitation</label></h3>

    <div class="form-row">

      <div class="form-group  col-md-4">
        <label>Severity </label>  
      </div>
      <div class="form-group col-md-8">
        <select [(ngModel)]="updform.selectMitral_Regurgitation_Severity" name="selectMitral_Regurgitation_Severity" placeholder="select" 
        (ngModelChange)="onOptionsSelected('Mitral_Regurgitation_Severity',updform.selectMitral_Regurgitation_Severity)" class="form-control">
        <option [ngValue]="undefined"> Not Applicable(N/A)</option>
        <option *ngFor="let sta of mitralRegurgitationSeverity" [ngValue]="sta.itemName">{{sta.itemName}}</option>
        </select>

    </div>

    </div>

    <div class="form-row">

      <div class="form-group  col-md-4">
        <label> Jet direction </label>  
      </div>
      <div class="form-group col-md-8">
        <select [(ngModel)]="updform.selectMitral_Regurgitation_Jet_Direction" name="selectMitral_Regurgitation_Jet_Direction" placeholder="select" 
        (ngModelChange)="onOptionsSelected('Mitral_Regurgitation_Jet_Direction',updform.selectMitral_Regurgitation_Jet_Direction)" class="form-control">
        <option [ngValue]="undefined"> Not Applicable(N/A)</option>
        <option *ngFor="let sta of mitralRegurgitationJetDirection" [ngValue]="sta.itemName">{{sta.itemName}}</option>
        </select>

    </div>

    </div>

    <div class="form-row">

      <div class="form-group  col-md-4">
        <label> Diastolic mitral regurgitation</label>  
      </div>
      <div class="form-group col-md-8">
        <select [(ngModel)]="updform.selectMitral_Regurgitation_Diastolic" name="selectMitral_Regurgitation_Diastolic" placeholder="select" 
      (ngModelChange)="onOptionsSelected('Mitral_Regurgitation_Diastolic',updform.selectMitral_Regurgitation_Diastolic)" class="form-control">
      <option [ngValue]="undefined"> Not Applicable(N/A)</option>
      <option *ngFor="let sta of mitralRegurgitationDiastolicMitralRegurgitation" [ngValue]="sta.itemName">{{sta.itemName}}</option>
      </select>

    </div>

    </div>

    <!-- <div class="form-row">

      <div class="form-group  col-md-4">
        <label> Quantitative Measurements (If mitral regurgitation present)</label>  
      </div>
      <div class="form-group col-md-8">
        <select [(ngModel)]="updform.selectMitral_Regurgitation_Quantitative_Measurements" name="selectMitral_Regurgitation_Quantitative_Measurements" placeholder="select" 
        (ngModelChange)="onOptionsSelected('Mitral_Regurgitation_Quantitative_Measurements',updform.selectMitral_Regurgitation_Quantitative_Measurements)" class="form-control">
        <option [ngValue]="undefined"> Not Applicable(N/A)</option>
        <option *ngFor="let sta of mitralRegurgitationQuantitativeMeasurements" [ngValue]="sta.itemName">{{sta.itemName}}</option>
        </select>

    </div>

    </div> -->

    <div class="form-row" *ngIf="updform.selectMitral_Regurgitation_Quantitative_Measurements === 'Vena contracta width'" >

      <div class="form-group  col-md-4">
        <label>Vena contracta width </label>  
      </div>
      <div class="form-group col-md-8">
        <input type="text" id="mitral_Regurgitation_Quantitative_Measurements_Vena_Width" name="mitral_Regurgitation_Quantitative_Measurements_Vena_Width" class="form-control"                 
        placeholder="Vena contracta width" [(ngModel)]="updform.mitral_Regurgitation_Quantitative_Measurements_Vena_Width" 
        #mitral_Regurgitation_Quantitative_Measurements_Vena_Width="ngModel"  >

    </div>

    </div>

  

  </div>
</div>
          </div>
          
              
          
          
          
            </div>  
          
          </div>
          
          <br/>
          <br/>






 <!-------------------------------------------->
            <!-- <div class="form-group col-md-4">
            <label>Structure/Function</label>               
            <select [(ngModel)]="updform.selectStructure" name="selectStructure" placeholder="select" 
            (ngModelChange)="onOptionsSelected('Structure',updform.selectStructure)" class="form-control">
            <option [ngValue]="undefined"> Not Applicable(N/A)</option>
            <option *ngFor="let sta of structureOrFunction" [ngValue]="sta.itemName">{{sta.itemName}}</option>
            </select>

            </div>

            <div class="form-group col-md-4"  >
            <label> Anterior Leaflet </label>               
            <select [(ngModel)]="updform.selectProlapse_Anterior_Leaflet" name="selectProlapse_Anterior_Leaflet" placeholder="select" 
            (ngModelChange)="onOptionsSelected('Prolapse_Anterior_Leaflet',updform.selectProlapse_Anterior_Leaflet)" class="form-control">
            <option  [ngValue]="undefined"> Not Applicable(N/A)</option>
            <option *ngFor="let sta of prolapseAnteriorLeaflet" [ngValue]="sta.itemName">{{sta.itemName}}</option>
            </select>

            </div>

            <div class="form-group col-md-4"  >
              <label for="prolapse_Anterior_Leaflet_Value">  Anterior Leaflet : Describe</label>
              <input type="text" id="prolapse_Anterior_Leaflet_Value" name="prolapse_Anterior_Leaflet_Value" class="form-control"                 
              placeholder="Describe Value" [(ngModel)]="updform.prolapse_Anterior_Leaflet_Value" 
              #prolapse_Anterior_Leaflet_Value="ngModel"  >
              
            </div>

            <div class="form-group col-md-4"   >
            <label> Posterior Leaflet </label>
            <select [(ngModel)]="updform.selectProlapse_Posterior_Leaflet" name="selectProlapse_Posterior_Leaflet" placeholder="select"                  
            (ngModelChange)="onOptionsSelected('Prolapse_Posterior_Leaflet',updform.selectProlapse_Posterior_Leaflet)" class="form-control">
            <option [ngValue]="undefined">Not Applicable(N/A)</option>
            <option *ngFor="let sta of prolapsePosteriorLeaflet" [ngValue]="sta.itemName">{{sta.itemName}}</option>
            </select>
            </div>

            <div class="form-group col-md-4" *ngIf="updform.selectProlapse_Posterior_Leaflet === 'Multiple Scallops'"  >
              <label for="prolapse_Posterior_Leaflet_Value">  Posterior Leaflet : Describe</label>
              <input type="text" id="prolapse_Posterior_Leaflet_Value" name="prolapse_Posterior_Leaflet_Value" class="form-control"                 
              placeholder="Type Value" [(ngModel)]="updform.prolapse_Posterior_Leaflet_Value" 
              #prolapse_Posterior_Leaflet_Value="ngModel"  >
              
            </div> -->

        </div>
        <br/>
        <br/>

        <div class="container-fluid">
          <div class="row">
           
        
        
          
        
        
          
        
          </div>  
        
        </div>
        
        <br/>
        <br/>




        <div class="container-fluid">
          <div class="row">
          
        
        
          
        
        
           
        
          </div>  
        
        </div>
        
        <br/>
        <br/>



        
<div class="container-fluid">
  <div class="row">
 


  

  

  </div>  

</div>

<br/>
<br/>


<div class="container-fluid">
  <div class="row">
    


   


    

  </div>  

</div>

<br/>
<br/>


      
      <div id="overlay">
        <div class="loader"></div>
                
       </div> 


        <div class="form-row"   >
        <div class="form-group col-md-2" ></div>
        <div class="form-group col-md-2" >
        <button type="button" class="btn btn-warning  btn-block" onclick="$('#tabfive').trigger('click')" 
        (click)="getAddPage('rightAtriumObservation')" >Previous</button>
        </div>
        <div class="form-group col-md-2" >
        <button type="submit" class="btn btn-primary  btn-block" id="btnSubmit" >Submit</button>
        </div>
        <div class="form-group col-md-2" >
        <button type="button" class="btn btn-danger  btn-block" onclick="$('#tabseven').trigger('click')" 
        (click)="getAddPage('tricuspidValveObservation')" >Next</button>
        </div>
        <div class="form-group col-md-4" ></div>
        </div> 
  
      </div>
     
      </div>        
    
  </div>
  
  
  </form>
  
  
      


