table, th, td,tr {
  width: 60%;
    height: 50%;
    padding: 5px 0;
    text-align: center;
    vertical-align: middle;
    line-height: 1.5;
    margin-left: auto;
    margin-right: auto;
    counter-reset: rowNumber;
  // border: 1px solid black;
  }
  // table, th, td {
  //   border: 1px solid black;
  //   border-collapse: collapse;
  // }
  th {
    padding: 5px;
    text-align: center;
  }
  p {
    line-height: 0.5;
  }
  table { table-layout: fixed; }
td { width: 33%; }
  // table tr::before {
  //   display: table-cell;
  //   counter-increment: rowNumber;
  //   content: counter(rowNumber) ".";
  //   padding-right: 0.3em;
    
  // }
  
 .tabs {
	display: flex;
	flex-wrap: wrap; // make sure it wraps
}
.tabs label {
	order: 1; // Put the labels first
	display: block;
  //padding: 1rem 2rem;
  padding: 1rem 1.5rem;
	margin-right: 0.2rem;
	cursor: pointer;
  background: #17a2b8;
  font-weight: bold;
  transition: background ease 0.2s;
}
.tabs .tab {
  order: 99; // Put the tabs last
  flex-grow: 1;
	width: 100%;
	display: none;
  padding: 1rem;
  background: #fff;
}
.tabs input[type="radio"] {
	display: none;
}
.tabs input[type="radio"]:checked + label {
	background: #fff;
}
.tabs input[type="radio"]:checked + label + .tab {
	display: block;
}

@media (max-width: 45em) {
  .tabs .tab,
  .tabs label {
    order: initial;
  }
  .tabs label {
    width: 100%;
    margin-right: 0;
    margin-top: 0.2rem;
  }
}

/**
 * Generic Styling
*/
// body {
//   background: #eee;
//   min-height: 100vh;
// 	box-sizing: border-box;
// 	padding-top: 10vh;
//   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
//   font-weight: 300;
//   line-height: 1.5;
//   max-width: 60rem;
//   margin: 0 auto;
//   font-size: 112%;
// }

.text-head{
  text-align: left;
}


@media only screen and (max-width: 680px) {
  #page-content-wrapper {
  padding: 15px;
  width: 100%;
  overflow-x: hidden;
  margin-top: -280%;
}

}