<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<app-nav></app-nav>

<div id="wrapper">       
	<!-- <app-sidenav></app-sidenav> 	  -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <!-- <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                <span class="hamb-top"></span>
    			<span class="hamb-middle"></span>
				<span class="hamb-bottom"></span>
            </button> -->
            <div  class="col-md-12 fright" >
				
        <div class="login-form">
      <form  name="addClinicDoctorForm"  #addClinicDoctorForm="ngForm" (ngSubmit)="addClinicDoctor(addClinicDoctorForm.value)"   enctype="multipart/form-data">
            
          <h2 class="text-center">Add Clinic/Doctor </h2> 
        
          <div class="form-row">
              <div class="form-group col-md-4">
                  <label for="name">Role</label>
                  <select id="role" name="role" class="form-control" required [(ngModel)]="addform.role" #role="ngModel"  >
                      <option value="">Select User Role</option>
                        <option *ngFor="let r of roles" [value]="r">{{r}}</option>
                  </select>
                      <div *ngIf="role.errors && role.touched" class="alert alert-danger" > 
                        <div *ngIf="role.errors.required">Role is required.</div>
                      </div>    
      
              </div>
              
              <div class="form-group col-md-4" *ngIf="addform.role === 'DOCTOR'" >
                <label for="salutation">Salutation</label>
                <select id="salutation" name="salutation" class="form-control" required [(ngModel)]="addform.salutation" #salutation="ngModel"  >
                  <option value="">Select Salutation</option>
                    <option *ngFor="let salutation of this.salutationList" [value]="salutation['key']">{{salutation['value']}}</option>
              </select>

              <div *ngIf="salutation.errors && salutation.touched" class="alert alert-danger">
                <div *ngIf="salutation.errors.required">Salutation is required.</div>
              </div> 

              </div> 

                  <div class="form-group col-md-4"  >
                      <label for="name">Name Of Clinic/Doctor</label>
                      <input  type="text" id="name" name="name" class="form-control" required [(ngModel)]="addform.name" #name="ngModel" placeholder="Name Of Clinic/Doctor" >
                      <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
                        <div *ngIf="name.errors.required">
                          Name is required.
                        </div>
                        </div>
                    </div>

                     
                                            
            </div>

           
      
            <div class="form-row" *ngIf="addform.role === 'CLINIC'" >

              <div class="form-group col-md-4">
                <label for="type">Type Of Registration : &nbsp; &nbsp; </label> <br/>              
                <select id="type" name="type" class="form-control" required [(ngModel)]="addform.type" #type="ngModel"  >
                  <option value="">Select Type Of Registration</option>
                    <option *ngFor="let ty of typess" [value]="ty">{{ty}}</option>
              </select>

              <div *ngIf="type.errors && type.touched" class="alert alert-danger">
                <div *ngIf="type.errors.required">Type is required.</div>
              </div> 

              </div>

              <div class="form-group col-md-4">
                  <label for="speciality">Hospital / Clinic Speciality</label>
                
                  <angular2-multiselect [data]="this.specialityList" [(ngModel)]="selectedItems" [settings]="settings"  
      (onSelect)="onItemSelect($event)"   name="speciality" id="speciality" class="Checkbox"
      (onDeSelect)="OnItemDeSelect($event)" 
      (onSelectAll)="onSelectAll($event)" 
      (onDeSelectAll)="onDeSelectAll($event)"  >
        <c-item>
                <ng-template let-item="item">
                  <label style="color: #495057;min-width: 150px;font-weight: 500">{{item.itemName}}</label> 
                </ng-template>
        </c-item>  
      </angular2-multiselect> 
                    
                 
              </div>
                  <div class="form-group col-md-4"  >
                      <label for="clinictype">Hospital / Clinic Type </label>
                      <select id="clinictype" name="clinictype" class="form-control" required [(ngModel)]="addform.clinictype" #clinictype="ngModel"  >
                        <option value="">Select Hospital / Clinic Type</option>
                          <option *ngFor="let ct of typeList" [value]="ct['id']">{{ct['itemName']}}</option>
                    </select>

                    <div *ngIf="clinictype.errors && clinictype.touched" class="alert alert-danger">
                      <div *ngIf="clinictype.errors.required">Clinic Type is required.</div>
                    </div> 
                    
                    
                    </div>
                                            
            </div>


            <div class="form-row" *ngIf="addform.role === 'DOCTOR'" >

              <div class="form-group col-md-4">
                  
              <label for="middlename">Middle Name</label>
              <input  type="text" id="middlename" name="middlename" class="form-control" required [(ngModel)]="addform.middlename" #middlename="ngModel" placeholder="Middle Name" >
              <div *ngIf="middlename.invalid && (middlename.dirty || middlename.touched)" class="alert alert-danger">
              <div *ngIf="middlename.errors.required">
              Middle Name is required.
              </div>
              </div>     
      
              </div>
              <div class="form-group col-md-4"  >
                <label for="lastname">Last Name</label>
                <input  type="text" id="lastname" name="lastname" class="form-control" required [(ngModel)]="addform.lastname" #lastname="ngModel" placeholder="Last Name" >
                <div *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)" class="alert alert-danger">
                <div *ngIf="lastname.errors.required">
                Last Name is required.
                </div>
                </div>       
                     
              </div>
                    
              <div class="form-group col-md-4"  >
                <label for="branch">Branch</label>
              

              <angular2-multiselect [data]="this.branchList" [(ngModel)]="selectedItems2" [settings]="branchsettings"  
      (onSelect)="onItemSelect($event)"   name="branch" id="branch" class="Checkbox"
      (onDeSelect)="OnItemDeSelect($event)" 
      (onSelectAll)="onSelectAll($event)" 
      (onDeSelectAll)="onDeSelectAll($event)"  >
        <c-item>
                <ng-template let-item="item">
                  <label style="color: #495057;min-width: 150px;font-weight: 500">{{item.itemName}}</label> 
                </ng-template>
        </c-item>  
      </angular2-multiselect> 

              </div> 
           
            </div>
      
      
            
      
            <div class="form-row" *ngIf="addform.role === 'DOCTOR'"  >

              <div class="form-group col-md-4">
                <label for="clinicId">Please Select Clinic</label>
                  <select id="clinicId" name="clinicId" class="form-control" required [(ngModel)]="addform.clinicId" #clinicId="ngModel" >
                    <option value="">Select Clinic</option>
                      <option *ngFor="let list of AllClinicList" [value]="list.id">{{list.name}}</option>
                    </select>
                    <div *ngIf="clinicId.errors && clinicId.touched" class="alert alert-danger">
                      <div *ngIf="clinicId.errors.required">Clinic is required.</div>
                    </div>    
    
              </div>

              <div class="form-group col-md-4">
                  <label for="qualification">Qualification Of Doctor</label>
                  <input type="text" id="qualification" name="qualification" class="form-control" required [(ngModel)]="addform.qualification" #qualification="ngModel" placeholder=" Qualification Of Doctor" >
                     
      
              </div>
                  <div class="form-group col-md-4"  >
                      <label for="specialitydoctor">Speciality Of Doctor </label>
                      <input type="text" id="specialitydoctor" name="specialitydoctor" class="form-control" required [(ngModel)]="addform.specialitydoctor" #specialitydoctor="ngModel" placeholder="Speciality Of Doctor" >
                     
                    </div>
                    
             
           
            </div>

            <div class="form-row" *ngIf="addform.role === 'DOCTOR'"  >

              <div class="form-group col-md-4">
                <label for="degreedoctor">Degree of the Doctor</label>
                <input type="text" id="degreedoctor" name="degreedoctor" class="form-control" required [(ngModel)]="addform.degreedoctor" #degreedoctor="ngModel" 
                placeholder=" Degree Of the Doctor" >
                      
    
              </div>

              <div class="form-group col-md-4">
                  <label for="timingsdays">Timings days </label>
                  <input type="text" id="timingsdays" name="timingsdays" class="form-control" required [(ngModel)]="addform.timingsdays"
                   #timingsdays="ngModel" placeholder=" Timings days" >
                     
      
              </div>
                  <div class="form-group col-md-4"  >
                      <label for="timingshours">Timings hours  </label>
                      <input type="text" id="timingshours" name="timingshours" class="form-control" required [(ngModel)]="addform.timingshours"
                       #timingshours="ngModel" placeholder="Timings hours" >
                     
                    </div>
                    
             
           
            </div>
                           
          <div class="form-row">
              <div class="form-group col-md-4">
                   <label for="email">Email Id</label> 
                  <input type="email" placeholder="Email Id" name="email" class="form-control" id="email" 
                           required [(ngModel)]="addform.email" #email="ngModel" >
                  <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                  <div *ngIf="email.errors.required">
                      Email is required.
                  </div>
                  </div>         
              </div>

              <div class="form-group col-md-4"  >
                <label for="phonenumber">Phone Number</label> 
                <input type="phonenumber" placeholder="Phone Number" name="phonenumber" class="form-control" id="phonenumber" 
                required [(ngModel)]="addform.phonenumber" #phonenumber="ngModel" maxlength="10" oninput="this.value=this.value.replace(/[^0-9]/g,'');" >
               
              </div>
      
              <div class="form-group col-md-4">
                  <label for="mobNo">Mobile Number</label> 
                 <input type="text" class="form-control" name="mobNo" id="mobNo" placeholder="Mobile Number" 
                 required [(ngModel)]="addform.mobNo" #mobNo="ngModel" maxlength="10"  oninput="this.value=this.value.replace(/[^0-9]/g,'');"   >
                 <div *ngIf="mobNo.invalid && (mobNo.dirty || mobNo.touched)" class="alert alert-danger">
                     <div *ngIf="mobNo.errors.required">
                       Mobile Number is required.
                     </div>
                     </div>
             </div>
      
            </div>

            <div class="form-row" *ngIf="addform.role === 'CLINIC'">
                              
              <div class="form-group col-md-4"  >
                <label for="emergencynumber">Emergency Number</label> 
                <input type="emergencynumber" placeholder="Emergency Number" name="emergencynumber" class="form-control" id="emergencynumber" 
                required [(ngModel)]="addform.emergencynumber" #emergencynumber="ngModel" maxlength="10" oninput="this.value=this.value.replace(/[^0-9]/g,'');" >
               
              </div>

              <div class="form-group col-md-4"  >
                <label for="emergencymobnumber">Emergency Mobile Number</label> 
                <input type="emergencymobnumber" placeholder="Emergency Mobile Number" name="emergencymobnumber" class="form-control" id="emergencymobnumber" 
                required [(ngModel)]="addform.emergencymobnumber" #emergencymobnumber="ngModel" maxlength="10" oninput="this.value=this.value.replace(/[^0-9]/g,'');" >
               
              </div>

              <div class="form-group col-md-4"  >
                <label for="whatsappno">Whats App Number</label> 
                <input type="whatsappno" placeholder="Whats App Number" name="whatsappno" class="form-control" id="whatsappno" 
                required [(ngModel)]="addform.whatsappno" #whatsappno="ngModel" maxlength="10" oninput="this.value=this.value.replace(/[^0-9]/g,'');" >
               
              </div>
        
      
            </div> 
               

            <div class="form-row">
              <div class="form-group col-md-4">
                  <label for="username">User Name</label> 
                   <input type="text"  placeholder="Username" name="username" class="form-control" id="username"
                          required [(ngModel)]="addform.username" #username="ngModel" >
                  <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">
                  <div *ngIf="username.errors.required">
                    UserName is required.
                  </div>
                  </div>        
              </div>
              <div class="form-group col-md-4">
                  <label for="password">Password</label> 
                 <input type="password" placeholder="Password" name="password" class="form-control" id="password" 
                 required [(ngModel)]="addform.password" #password="ngModel" maxlength="15" >
                 <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
                  <div *ngIf="password.errors.required">
                    Password is required.
                  </div>
                  </div>
              </div>

              <div class="form-group col-md-4">
                <label for="cpassword">Confirm Password</label> 
               <input type="password" placeholder="Confirm Password" name="cpassword" class="form-control" id="cpassword" 
               required [(ngModel)]="addform.cpassword" #cpassword="ngModel" maxlength="15" >
               <div *ngIf="cpassword.invalid && (cpassword.dirty || cpassword.touched)" class="alert alert-danger">
                <div *ngIf="cpassword.errors.required">
                  Confirm Password is required.
                </div>
                </div>
            </div>

            </div>
                      
             <div class="form-row">

              <div class="form-group col-md-4">
                <label for="country">Select Country</label> 
                <select id="country" name="country" class="form-control" required 
                [(ngModel)]="addform.country" #country="ngModel" (ngModelChange)="onCountrySelect(addform.country)" >
                  <option value="">Select Country</option>
                    <option *ngFor="let country of countryList" [value]="country['id']">{{country['itemName']}}</option>
                  </select>
                  <div *ngIf="country.errors && country.touched" class="alert alert-danger">
                    <div *ngIf="country.errors.required">Country is required.</div>
                  </div>    
            </div>
           
                  <div class="form-group col-md-4">
                      <label for="state">Select State</label> 
                      <select id="state" name="state" class="form-control" required [(ngModel)]="addform.state" #state="ngModel" >
                      <option value="">Select State</option>
                      <option *ngFor="let state of filteredCities" [value]="state['key']">{{state['value']}}</option>
                      </select>
                      <div *ngIf="state.errors && state.touched" class="alert alert-danger">
                      <div *ngIf="state.errors.required">State is required.</div>
                      </div>    
                  </div>
                                  
                  <div class="form-group col-md-4"  >
                    <label for="pincode">Pincode</label> 
                    <input type="text" placeholder="Pincode" name="pincode" class="form-control" id="pincode" 
                    required [(ngModel)]="addform.pincode" #pincode="ngModel" maxlength="6" oninput="this.value=this.value.replace(/[^0-9]/g,'');">
                   
                  </div>
                  
            </div> 

              
      <div class="form-row" *ngIf="addform.role === 'CLINIC'">

        <div class="form-group col-md-4"  >
          <label for="district">District</label> 
          <input type="text" placeholder="District" name="district" class="form-control" id="district" 
          required [(ngModel)]="addform.district" #district="ngModel"  >
         
        </div>
        
        <div class="form-group col-md-4"  >
          <label for="city">City / Village Name</label> 
          <input type="text" placeholder="City" name="city" class="form-control" id="city" 
          required [(ngModel)]="addform.city" #city="ngModel"  >
         
        </div>

        <div class="form-group col-md-4"  >
          <label for="citycode">City / Village Code</label> 
          <input type="text" placeholder="City / Village Code" name="citycode" class="form-control" id="citycode" 
          required [(ngModel)]="addform.citycode" #citycode="ngModel"  >
         
        </div>
        <div class="form-group col-md-4"  >
  <label for="machine">Name of the Machine</label> 
  <input type="text" placeholder="machine" name="machine" class="form-control" id="machine" 
  required [(ngModel)]="addform.machine" #machine="ngModel"  >
 
</div>
<div class="form-group col-md-4"  >
  <label for="reference">Name of the Reference Person</label> 
  <input type="text" placeholder="reference" name="reference" class="form-control" id="reference" 
  required [(ngModel)]="addform.reference" #reference="ngModel"  >
 
</div>
       
      </div>   

     <div class="form-row">

        <div class="form-group col-md-6">
          <label for="logo">Clinic/Doctor Logo &nbsp; &nbsp;</label>
          <input name="logoImage"
              id="logoImage" 
              type="file"  #UploadFileInput
              (change)="onLogoChange($event)">
         
      </div>
    
        <div class="form-group col-md-6"  *ngIf="addform.role === 'CLINIC'">
            <label for="file">Hospital/Clinic Photo &nbsp; &nbsp;</label>
            <input  id="profileImage" name="profileImage"  type="file"   (change)="onFileChange($event)">
           
        </div>
      </div> 

      <!-- <div class="form-row" *ngIf="addform.role === 'DOCTOR'"  >
    
        <div class="form-group col-md-12">
            <label for="file">Doctor Photo &nbsp; &nbsp;</label>
            <input  id="doctorphoto" type="file"  (change)="onPhotoChange($event)">
           
        </div>

       
              
      </div> -->

      
      <div class="form-row">
        <div class="form-group col-md-6">
            <label for="address">Address</label> 
            <textarea id="address" name="address"  class="form-control" placeholder="Address" 
          required [(ngModel)]="addform.address" #address="ngModel"  ></textarea>
          <div *ngIf="address.invalid && (address.dirty || address.touched)" class="alert alert-danger">
              <div *ngIf="address.errors.required">
                Address is required.
              </div>
              </div>   
        </div>

        <div class="form-group col-md-6">
          <label for="otherdetails">Other Details</label> 
          <textarea id="otherdetails" name="otherdetails"  class="form-control" placeholder="Other Details" 
        required [(ngModel)]="addform.otherdetails" #otherdetails="ngModel"  ></textarea>
       
      </div>
        
  

  </div> 


      <div class="form-row" *ngIf="addform.role === 'CLINIC'"  >
        <div class="form-group col-md-6">
            <label for="url">Website Url</label> 
            <input type="text" placeholder="Website Url" name="url" class="form-control" id="url" 
            required [(ngModel)]="addform.url" #url="ngModel"  >
            
        </div>

        <div class="form-group col-md-6">
          <label for="ambulance">Ambulance Service Available  </label>  <br/>         
          <input name="ambulance"  [(ngModel)]="ambulance" type="radio" [value]="true" [checked]="ambulance"/> Yes
          <input name="ambulance"[(ngModel)]="ambulance" type="radio" [value]="false" [checked]="!ambulance"/> No

        </div>
<div>

</div>
    </div> 


    <div class="form-row" >
      <div class="form-group col-md-6" *ngIf="ambulance">
          <label for="ambulancephno">Ambulance Phone Number</label> 
          <input type="text" placeholder="Ambulance Phone Number" name="ambulancephno" class="form-control" id="ambulancephno" 
          required [(ngModel)]="addform.ambulancephno" #ambulancephno="ngModel"  >
          
      </div>
      <!-- <div class="form-group col-md-6">
        <label for="googlemaplocation">Google Map Location </label> 
        <input type="text" placeholder="Google Map Location " name="googlemaplocation" class="form-control" id="googlemaplocation" 
        required [(ngModel)]="addform.googlemaplocation" #googlemaplocation="ngModel"  >
        
    </div> -->

  </div> 

  <div class="form-group col-md-6" *ngIf="addform.role === 'CLINIC'">
    <label for="services">Service Available </label> 
    <!-- <input type="text" placeholder="Services Available" name="services" class="form-control" id="services" 
    required [(ngModel)]="addform.services" #services="ngModel"  > -->
    <angular2-multiselect [data]="this.serviceList" [(ngModel)]="selectedItems1" [settings]="servicessettings"  
    (onSelect)="onItemSelect($event)"   name="services" id="services" class="Checkbox"
    (onDeSelect)="OnItemDeSelect($event)" 
    (onSelectAll)="onSelectAll($event)" 
    (onDeSelectAll)="onDeSelectAll($event)"  >
      <c-item>
              <ng-template let-item="item">
                <label style="color: #495057;min-width: 150px;font-weight: 500">{{item.itemName}}</label> 
              </ng-template>
      </c-item>  
    </angular2-multiselect> 
</div>

 

      
          <div class="form-row">
              <div class="form-group col-md-6">
                <button type="submit" class="btn btn-primary  btn-block"  >Submit</button>
                </div>
                <div class="form-group col-md-6">
              <button type="button" class="btn btn-danger  btn-block" (click)="addClinicDoctorForm.resetForm({})">Reset</button>
                </div>        
            
      
              </div>
      </form> 
     
      </div>
			
	
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->


<!-- <app-footer></app-footer> -->
