
            <div class="float-container overlay">
                
                <div class="form-group">
                    <input type="file" id="cin" name="cin"  (change)="fileChangeEvent($event)" placeholder="Upload a file..."webkitdirectory directory multiple/>
                    <!-- <input  id="cin" name="cin" type="folder" (change)="fileChangeEvent($event)" placeholder="Upload a file..."  multiple/> -->
                </div>
                <div *ngIf="upLoadFlag" >
                    Upload In Progress ...
                </div> 
                <!-- <div class="mb-3" *ngIf="uploadedFilePath">
                    {{uploadedFilePath}}
                </div> -->
                <!-- <div style="height: 600px; width:100%;">
                  <dicom-viewer  style="height:100%; width:100%; margin: 10px;"></dicom-viewer>
                </div>
                 <br/>  <br/>   -->
                <div class="form-group" class="uploadbutt">
                    <button class="btn btn-primary" (click)="upload()"  >Upload</button>
                </div>
                    
               
               
             </div>
             <ngx-spinner></ngx-spinner>
             <div id="overlay">
    
                <div class="loader"></div>
            </div> 